#row {
    display: flex;
    justify-content: center;
    width: 1264px;
}

.site-content {
    /* display: flex; */
    /* justify-content: center; */
}
.post-header {
    margin-top: 50px;
    width: 876px;
}
.post-title {
    color: var(--grey);
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 15px;
}

.post-exerpt {
    color: var(--grey);
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 28px;
    border-top: .03em solid;
    border-color: rgb(187, 187, 187);
}